
*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  html {
    height: 100%;
}


.reseauLogo {
    height: 1em;
    width: 1em;
}

a {
    color: black;
    font-weight: 800;
    align-items: center;
}

.caroussel {
    max-width: 600px;
    height: 200px;
    margin: 60px auto;
    overflow: hidden;
    border: 6px solid #9a1313;
    background-color: rgb(167, 167, 167);

  }
  
.caroussel .slider {
    height: 100%;
    animation: caroussel 12s infinite ease-in-out;
    
    /* Pour inverser l'animation */
    /* display: flex; 
    flex-direction: column-reverse; */
  }
  .caroussel P{
    flex-shrink: 0;
    padding: 67px 0;
    width: 100%;
    text-align: center;
    font-size: 45px;
    color: rgb(135, 4, 34);
    font-weight: 900;
  }
  @keyframes caroussel {
    0%,
    20% {
      transform: translateY(0);
    }
    25%,
    45% {
      transform: translateY(-100%);
    }
    50%,
    70% {
      transform: translateY(-200%);
    }
    75%,
    95% {
      transform: translateY(-300%);
    }
    100% {
      transform: translateY(-400%);
    }
  }