html {
    height: 100%;
}


.break {
    text-align: center;
    padding-top: 2vh;
}

#board {
    border-top: solid blueviolet;
    border-right: solid blueviolet;
    border-left: solid blueviolet;
    background-color: black;
    width: 30%;
}

.controler {
    
    justify-content: center;
    align-items: center;
    color: red; 
    display: none;
}

#rightButton {
    font-size: 3vw;
    margin: 2vw;
    background-color: black;
    border-radius: 20px;
    padding: 0.4vw;
    width: 12vw;
    text-align: center;
}
#leftButton {
    font-size: 3vw;
    margin: 2vw;
    background-color: black;
    border-radius: 20px;
    padding: 0.4vw;
    width: 12vw;
    text-align: center;
}

@media screen and (max-width: 920px) {

    #board {
        width: 50%;
    }

    .controler{
        display: block;
        display: flex;
    }

}

@media screen and (max-width: 500px) {

    #board {
        width:60%;
    }

}